:root {
    --verylight: #EFF6E0;
    --light: #AEC3B0;
    --medium: #598392;
    --dark: #124559;
    --verydark: #01161E;
}

* {
    font-family: 'Playfair Display', serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: 30px;
    background-color: var(--light) !important;
}

#contactTitle{
    text-align: center;
    padding: 20px;
}

#form {
    color: var(--verylight);
    background-color: var(--medium);
    padding: 30px;
}

#formButton {
    background-color: var(--light);
    border: var(--light);
}

#header {
    height: 200px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: var(--light) !important;
}

#image {
    width: 200px;
    height: 200px;
    padding: 0;
}

#projectTitle{
    text-align: center;
    padding: 20px;
}

#resumeTitle{
    padding: 20px;
}

.about {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerIcon {
    color: var(--dark) !important;
}

.heading {
    font-size: 50px !important;
    color: var(--dark) !important;
}

.listTitle {
    font-size: 25px !important;
    padding:20px;
}

.navigation {
    font-size: 25px !important;
    color: var(--verydark) !important;
}

.pic {
    filter: sepia(300%) hue-rotate(140deg) saturate(100%);
}

#portfolio {
    padding-top: 10px;
    padding-bottom: 130px;
}

.projectCard {
    border: none !important;
}

.projectCardBody {
    background-color: var(--verylight) !important;
    color: var(--verydark) !important;
}

.projectCardLink{
    color: var(--dark) !important;
}

.title {
    font-size: 25px !important;
}